.pagenotfound-card {
    margin: 25px 20px;
    padding: 35px 10px;
    background-color: $dark-blue;
    width: auto;
    height: min-content;
    text-align: center;

    .error-img {
        max-width: 200px;
    }

    a {
        color: $green;
        &.active,
        &:hover,
        &:focus {
            color: white;
        }
    }
}