// Resets
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

}

h1,h2,h3,ul,li {
  margin: 0;
  font-family: $noto-sans;
  color: white;
}

p {
    margin: 0;
    font-family: $open-sans;
    font-size: 14px;
    color: white;
    
  &::selection {
    background-color: $green;
  }
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.card {
  border-radius: 6px;
  -webkit-box-shadow: 4px 6px 18px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 6px 18px -9px rgba(0,0,0,0.75);
  box-shadow: 4px 6px 18px -9px rgba(0,0,0,0.75);
}